In [21]:
import numpy as np
import pandas as pd

In [22]:
#Cargamos los datasets, y creamos la columna "id" que consta de la primer letra del nombre de la plataforma + el show_id
#Asignamos a cada plataforma una columna "platform" con el nombre de la plataforma

Disney = pd.read_csv('MLOpsReviews/disney_plus_titles.csv')
Disney['id'] = 'd' + Disney['show_id'].astype(str)
Disney['platform'] = 'disney'

Amazon = pd.read_csv('MLOpsReviews/amazon_prime_titles.csv')
Amazon['id'] = 'a' + Amazon['show_id'].astype(str)
Amazon['platform'] = 'amazon'

Netflix = pd.read_csv('MLOpsReviews/netflix_titles.csv')
Netflix['id'] = 'n' + Netflix['show_id'].astype(str)
Netflix['platform'] = 'netflix'

Hulu = pd.read_csv('MLOpsReviews/hulu_titles.csv')
Hulu['id'] = 'h' + Hulu['show_id'].astype(str)
Hulu['platform'] = 'hulu'

In [23]:
#Creamos un solo dataset para optimizqar el trabajo
data = pd.concat([Disney, Amazon, Netflix, Hulu])
data = data[data.columns[-1:].tolist() + data.columns[:-1].tolist()]
data['rating'] = data['rating'].fillna('G')

In [24]:
#Convertimos la fecha de la columna "data_added" a un formato AAAA-mm-dd
data['date_added'] = data['date_added'].str.strip()
data['date_added'] = pd.to_datetime(data['date_added'], format='%B %d, %Y')
data['date_added'] = data['date_added'].dt.strftime('%Y-%m-%d')

In [25]:
#Dividimos la columna "duration" en "duration_type" y "duration_int" que contendran el tipo de duracion y su cantidad respectivamente
data[['duration_int', 'duration_type']] = data['duration'].str.extract('(\d+) (\w+)')
data['duration_type'] = data['duration_type'].replace('Seasons', 'Season')
data = data.drop('duration', axis=1)

In [ ]:
#Pasamos todo texto a minuscula
data[['type', 'title', 'director', 'cast', 'country', 'listed_in', 'description', 'duration_type']] = data[['type', 'title', 'director', 'cast', 'country', 'listed_in', 'description', 'duration_type']].applymap(lambda x: x.lower() if type(x) == str else x)

In [27]:
#renombramos "id" como "movieId" para estar en concordancia con los demas datasets
data.rename(columns={'id': 'movieId'}, inplace=True)
data

,platform,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,movieId,duration_int,duration_type
0,disney,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,TV-G,"animation, family",join mickey and the gang as they duck the halls!,ds1,23,min
1,disney,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,PG,comedy,santa claus passes his magic bag to a new st. ...,ds2,91,min
2,disney,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,TV-G,"animation, comedy, family",sid the sloth is on santa's naughty list.,ds3,23,min
3,disney,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,TV-PG,musical,"this is real life, not just fantasy!",ds4,41,min
4,disney,s5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,G,"docuseries, historical, music",a three-part documentary from peter jackson ca...,ds5,1,season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,hulu,s3069,tv show,star trek: the original series,NaN,NaN,united states,NaN,1966,TV-PG,"action, adventure, classics",the 23rd century adventures of captain james t...,hs3069,3,season
3069,hulu,s3070,tv show,star trek: voyager,NaN,NaN,united states,NaN,1997,TV-PG,"action, adventure, science fiction",catapulted into the distant sector of the gala...,hs3070,7,season
3070,hulu,s3071,tv show,the fades,NaN,NaN,united kingdom,NaN,2011,TV-14,"horror, international, science fiction",seventeen-year-old paul is haunted by apocalyp...,hs3071,1,season
3071,hulu,s3072,tv show,the twilight zone,NaN,NaN,united states,NaN,1959,TV-PG,"classics, science fiction, thriller",rod serling's seminal anthology series focused...,hs3072,5,season
3072,hulu,s3073,tv show,tokyo magnitude 8.0,NaN,NaN,japan,NaN,2009,TV-14,"anime, drama, international",the devastation is unleashed in the span of se...,hs3073,1,season

In [28]:
#Cargamos los datasets de calificaciones
rating_1 = pd.read_csv('MLOpsReviews/ratings/1.csv')
rating_2 = pd.read_csv('MLOpsReviews/ratings/2.csv')
rating_3 = pd.read_csv('MLOpsReviews/ratings/3.csv')
rating_4 = pd.read_csv('MLOpsReviews/ratings/4.csv')
rating_5 = pd.read_csv('MLOpsReviews/ratings/5.csv')
rating_6 = pd.read_csv('MLOpsReviews/ratings/6.csv')
rating_7 = pd.read_csv('MLOpsReviews/ratings/7.csv')
rating_8 = pd.read_csv('MLOpsReviews/ratings/8.csv')

In [ ]:
#Concatenamos los dataset para trabajar con uno solo
rating = pd.concat([rating_1, rating_2, rating_3, rating_4, rating_5, rating_6, rating_7, rating_8])
rating

         userId  rating   timestamp movieId
0             1     1.0  1425941529   as680
1             1     4.5  1425942435  ns2186
2             1     5.0  1425941523  hs2381
3             1     5.0  1425941546  ns3663
4             1     5.0  1425941556  as9500
...         ...     ...         ...     ...
1499995  124380     4.5  1196786159  ns5272
1499996  124380     2.5  1196786030  ns5492
1499997  124380     3.5  1196785679   hs305
1499998  124380     4.5  1196787089  ns7881
1499999  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]

In [30]:
#Calculamos el promedio de callificacion de cada pelicula
promedios = rating.groupby('movieId')['rating'].mean()
promedios

movieId
as1       3.467131
as10      3.439571
as100     3.609302
as1000    3.556701
as1001    3.585288
            ...
ns995     3.515625
ns996     3.626518
ns997     3.530526
ns998     3.582645
ns999     3.494781
Name: rating, Length: 22998, dtype: float64

In [31]:
#Agregamos el promedio de la calificacion al primer dataset
data = pd.merge(data, promedios, on='movieId')
data.rename(columns={'rating_y': 'score'}, inplace=True)
data.rename(columns={'rating_x': 'rating'}, inplace=True)
data['score'] = data['score'].astype(float)
data

,platform,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,movieId,duration_int,duration_type,score
0,disney,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,TV-G,"animation, family",join mickey and the gang as they duck the halls!,ds1,23,min,3.554348
1,disney,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,PG,comedy,santa claus passes his magic bag to a new st. ...,ds2,91,min,3.493927
2,disney,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,TV-G,"animation, comedy, family",sid the sloth is on santa's naughty list.,ds3,23,min,3.559395
3,disney,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,TV-PG,musical,"this is real life, not just fantasy!",ds4,41,min,3.508493
4,disney,s5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,G,"docuseries, historical, music",a three-part documentary from peter jackson ca...,ds5,1,season,3.546278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,hulu,s3069,tv show,star trek: the original series,NaN,NaN,united states,NaN,1966,TV-PG,"action, adventure, classics",the 23rd century adventures of captain james t...,hs3069,3,season,3.498058
22994,hulu,s3070,tv show,star trek: voyager,NaN,NaN,united states,NaN,1997,TV-PG,"action, adventure, science fiction",catapulted into the distant sector of the gala...,hs3070,7,season,3.502183
22995,hulu,s3071,tv show,the fades,NaN,NaN,united kingdom,NaN,2011,TV-14,"horror, international, science fiction",seventeen-year-old paul is haunted by apocalyp...,hs3071,1,season,3.540860
22996,hulu,s3072,tv show,the twilight zone,NaN,NaN,united states,NaN,1959,TV-PG,"classics, science fiction, thriller",rod serling's seminal anthology series focused...,hs3072,5,season,3.494163
22997,hulu,s3073,tv show,tokyo magnitude 8.0,NaN,NaN,japan,NaN,2009,TV-14,"anime, drama, international",the devastation is unleashed in the span of se...,hs3073,1,season,3.581871

In [32]:
#Buscamos titulos duplicados
duplicated = data[data.duplicated(['title'], keep='first')]

# Eliminar todas las filas duplicadas excepto la primera
data.drop_duplicates(['title'], keep='first', inplace=True)
print("Títulos de filas eliminadas:\n", duplicated['title'])

Títulos de filas eliminadas:
 1540                               wind
1877                           the swap
2392                      song of texas
2589                   rolie polie olie
2734                          pollyanna
                      ...
22990        star trek: deep space nine
22991             star trek: enterprise
22992    star trek: the next generation
22994                star trek: voyager
22995                         the fades
Name: title, Length: 956, dtype: object

In [33]:
#Buscamos los balores unicos de la calificacion etaria
data["rating"].unique()

array(['TV-G', 'PG', 'TV-PG', 'G', 'PG-13', 'TV-14', 'TV-Y7', 'TV-Y',
       'TV-Y7-FV', '13+', 'ALL', '18+', 'R', 'NR', '16+', '7+', 'TV-NR',
       'TV-MA', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_',
       'ALL_AGES', 'NOT_RATE', '74 min', '84 min', '66 min', 'UR',
       'NOT RATED', '2 Seasons', '4 Seasons', '136 min', '91 min',
       '93 min', '85 min', '98 min', '89 min', '94 min', '86 min',
       '3 Seasons', '121 min', '88 min', '101 min', '1 Season', '83 min',
       '100 min', '95 min', '96 min', '109 min', '99 min', '75 min',
       '92 min', '87 min', '67 min', '104 min', '107 min', '103 min',
       '119 min', '114 min', '90 min', '130 min', '82 min', '80 min',
       '6 Seasons', '97 min', '111 min', '49 min', '45 min', '41 min',
       '73 min', '40 min', '36 min', '39 min', '34 min', '47 min',
       '65 min', '37 min', '78 min', '102 min', '115 min', '112 min',
       '105 min', '61 min', '76 min', '79 min', '157 min', '28 min',
       '64 min', '7 min', '5 min', '127 min', '142 min', '110 min',
       '108 min', '77 min', '57 min', '118 min', '116 min', '81 min',
       '106 min', '12 Seasons', '71 min'], dtype=object)

In [34]:
#Establecemos los valores que aceptamos
valores_permitidos = ['TV-G', 'PG', 'TV-PG', 'G', 'PG-13', 'TV-14', 'TV-Y7', 'TV-Y',
                      'TV-Y7-FV', '13+', 'ALL', '18+', 'R', 'NR', '16+', '7+', 'TV-NR',
                      'TV-MA', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_',
                      'ALL_AGES', 'UR']

# Reemplazar los valores que no estén permitidos con "unrated"
data['rating'] = data['rating'].apply(lambda x: 'unrated' if x not in valores_permitidos else x)
data["rating"].unique()

array(['TV-G', 'PG', 'TV-PG', 'G', 'PG-13', 'TV-14', 'TV-Y7', 'TV-Y',
       'TV-Y7-FV', '13+', 'ALL', '18+', 'R', 'NR', '16+', '7+', 'TV-NR',
       'TV-MA', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_',
       'ALL_AGES', 'unrated', 'UR'], dtype=object)

In [35]:
#Estandarizamos cirtos valores similares
data['rating'] = data['rating'].replace('16', '16+')
data['rating'] = data['rating'].replace('AGES_16_', '16+')
data['rating'] = data['rating'].replace('AGES_18_', '18+')
data['rating'] = data['rating'].replace('unrated', 'UNRATED')
data["rating"].unique()

array(['TV-G', 'PG', 'TV-PG', 'G', 'PG-13', 'TV-14', 'TV-Y7', 'TV-Y',
       'TV-Y7-FV', '13+', 'ALL', '18+', 'R', 'NR', '16+', '7+', 'TV-NR',
       'TV-MA', 'NC-17', 'UNRATED', 'ALL_AGES', 'UR'], dtype=object)

In [36]:
data.to_csv('datos_limpios.csv', index=False)